@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

:root {
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --v-cyan: hsl(179, 100%, 13%);

  --tp-white: hsla(0, 0%, 100%, 0.75);
  --v-lg-gray: hsl(0, 0%, 95%);

  --ff-html: "Lexend Deca", sans-serif;
  --ff-heading: "Big Shoulders Display", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-html);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
picture,
svg {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-family: var(--ff-heading);
  text-transform: uppercase;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 15px;
  line-height: 1.5;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: 6em 0em;
  background-color: var(--tp-white);
}

/* Contents */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 440px 350px;
  grid-template-areas:
    "sedans sedans suvs"
    "luxury luxury luxury"
  ;

  border-radius: 10px;
  overflow: hidden;
}

.item {
  --bg-item: rbg(45 45 45 / 1);

  display: flex;
  flex-direction: column;
  min-height: fit-content;
  padding: 3rem;
  gap: 2.3em;

  background: var(--bg-item);

  & button {
    color: var(--bg-item);
  }
}

.item:first-child {
  --bg-item: var(--orange);
  grid-area: sedans
}

.item:nth-child(2) {
  --bg-item: var(--cyan);
  grid-area: suvs;
}

.item:last-child {
  --bg-item: var(--v-cyan);
  grid-area: luxury;
}

.item img {
  width: 64px;
}

.item button {
  cursor: pointer;
  margin-top: auto;
  background-color: var(--v-lg-gray);
  border: 3px solid var(--v-lg-gray);
  padding: .85em 2em;
  border-radius: 25px;
  text-wrap: nowrap;
  width: fit-content;
  transition: background-color .15s ease,
    color .15s ease;
}

.item button:hover {
  background-color: transparent;
  color: var(--v-lg-gray);
}

.item h1 {
  margin-bottom: .8em;
  font-size: 2.5em;
  color: var(--v-lg-gray)
}

.item p {
  color: var(--tp-white);
  max-width: 50ch;
}

@media(width <=750px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .item {
    min-height: 350px;
  }

  .item:nth-child(1) {
    border-radius: 10px 10px 0px 0px;
  }

  .item:nth-child(3) {
    border-radius: 0px 0px 10px 10px;
  }
}

/* Utility classes */
.wrapper {
  --width: 900px;
  --padding: 1rem;

  width: min(var(--width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}
